name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Restore dependencies
      run: dotnet restore src/
    - name: Build
      run: ./build.sh
    - name: Publish
      run: ./publish.sh
    - name: Test
      run: ./test.sh
    - name: Integration Test
      run: ./integration-test.sh
      env:
        KUSTOCLI_CLIENT_ID=ac25f637-e43c-4dd5-942c-30ebc852d788
        KUSTOCLI_CLIENT_KEY=${{ secrets.KUSTOCLI_CLIENT_KEY }}
        KUSTOCLI_TENANT_ID=778f31df-53d5-450a-8cf0-c35547574e75
